/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos de la barra de navegación */
header {
  background-color: #333;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-logo {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
}

.navbar-menu a {
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
}

/* Estilos de la sección de servicios */
.services {
  background-color: #f7f7f7;
  padding: 40px 0;
}

.services h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.service-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.service-item img {
  width: 200px;
  margin-right: 20px;
}

.service-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}



/* Estilos de la sección de CV */
.cv {
  background-color: #fff;
  padding: 40px 0;
  text-align: center; /* Añadido */
}

.cv h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.cv p {
  margin-bottom: 10px;
}

.cv-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

/* Estilos de la sección de contacto */
.contact {
  background-color: #f7f7f7;
  padding: 40px 0;
  text-align: center; /* Añadido */
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.contact p {
  margin-bottom: 10px;
}

.contact-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}


/* Estilos del pie de página */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer p {
  margin: 0;
}
